# conf.yaml.example
# 环境状态
env_state: testing

# 数据源配置
fmp:
  api_key: YOUR_FMP_KEY
  timeout: 15
  #period: annual/quarter ，指定获取年度/季度报告，免费api只能获取年度（annual）报告。
  period: annual

# Telegram配置
telegram:
  bot_token: you bot token here
  chat_id: your chat id here
  timeout: 10

# 模型参数
model:
  monte_carlo_sims: 10000
  risk_free_rate: 0.02
  pe_percentile: 0.8
  dcf_growth_years: 5

# 日志配置
logging:
  level: INFO
  format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
  file_path: "./logs/app.log"
  rotation: "10 MB"
